<%- include("partials/header") -%>
    <div id="heading">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;float: left;" onClick="location.href='/'">
            <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <div class="box">
            <h2>Appetizer</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <form action="/addFood" method="post">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/1-Smoke-Salmon.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Smoke Salmon
                        <button type="summit" name="id" value="101" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">120 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/2-Cheese-Stick.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Cheese Stick
                        <button type="summit" name="id" value="102" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">80 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/3-Macaroni-Cheese.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Macaroni Cheese
                        <button type="summit" name="id" value="103" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">69 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/4-Cold-Cut.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Cold Cut Plate
                        <button type="summit" name="id" value="104" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">230 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/5-Mussel-with-Mornay-Sauce.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Mussel & Mornay
                        <button type="summit" name="id" value="105" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">125 Bath</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/6-Tortilla-Pinwheels.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Tortilla Pinwheels
                        <button type="summit" name="id" value="106" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">100 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/7-Creamy-Artichoke.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Creamy Artichoke
                        <button type="summit" name="id" value="107" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">90 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/8-Party-Shrimp.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Party Shrimp
                        <button type="summit" name="id" value="108" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">110 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/9-Swedish-Meatballs.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Swedish Meatballs
                        <button type="summit" name="id" value="109" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">85 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/appitizer/10-Cheese-Fries.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Cheese Fries
                        <button type="summit" name="id" value="110" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">65 Bath</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </form>
    </div>
    <script>
        function callAlert() {
            alert("add the menu sucessfully");
        }
    </script>
    <%- include("partials/footer") -%>