<%- include("partials/header") -%>
    <div id="heading">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;float: left;" onClick="location.href='/'">
            <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <div class="box">
            <h2>Appetizer</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/1-Smoke-Salmon.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Smoke Salmon
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="101">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">120 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/2-Cheese-Stick.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Cheese Stick
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="102">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">80 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/3-Macaroni-Cheese.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Macaroni Cheese
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="103">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">69 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/4-Cold-Cut.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Cold Cut Plate
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="104">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">230 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/5-Mussel-with-Mornay-Sauce.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Mussel & Mornay
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="105">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">125 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/6-Tortilla-Pinwheels.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Tortilla Pinwheels
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="106">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">100 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/7-Creamy-Artichoke.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Creamy Artichoke
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="107">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">90 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/8-Party-Shrimp.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Party Shrimp
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="108">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">110 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/9-Swedish-Meatballs.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Swedish Meatballs
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="109">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">85 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/appitizer/10-Cheese-Fries.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Cheese Fries
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="110">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <script>
        function callAlert() {
            alert("add the menu sucessfully");
        }
    </script>
    <%- include("partials/footer") -%>