<%- include("partials/header") -%>
    <div id="heading">
        <button class="loginbtn">
        <p>Confirm</p>
    </button>
        <div class="box">
            <h2>Dessert</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/1-baked-ricotta-cake.jpeg">
                <div class="box" style="height: 40px;width: 230px; padding: 5px; margin-bottom: 10px;">
                    Baked Ricotta Cake
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/2-easy-peasy-lemon-meringue-pie.jpeg">
                <div class="box" style="height: 40px;width: 220px; padding: 5px; margin-bottom: 10px;">
                    Lemon Meringue Pie
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">80 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/3-burnt-butter-almond-and-honey-cake.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Burnt Butter
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">49 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/4-sticky-ginger-pudding.jpeg">
                <div class="box" style="height: 40px;width: 230px; padding: 5px; margin-bottom: 10px;">
                    Sticky Ginger Pudding
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">59 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/5-frozen-caramel-slice.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Frozen Caramel
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">90 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/6-caramel-cake.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Caramel Cake
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">75 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/7-pastelon.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Pastelón
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">69 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/8-Red-Velvet-Cupcakes.jpeg">
                <div class="box" style="height: 40px;width: 230px; padding: 5px; margin-bottom: 10px;">
                    Red-Velvet Cupcake
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/9.muhallabia-middle-eastern-milk-pudding.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Muhallabia
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/desserts/10-baked-rice-pudding-with-raspberries.jpeg">
                <div class="box" style="height: 40px;width: 220px; padding: 5px; margin-bottom: 10px;">
                    Mike McEnearney's
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">80 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <%- include("partials/footer") -%>