<%- include("partials/header") -%>
    <div id="heading">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;float: left;" onClick="location.href='/'">
            <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <div class="box">
            <h2>Drink</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/1-French-75.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    French 75
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="131">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/2-Moscow-Mule.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Moscow Mule
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="132">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">80 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/3-Chocolate-Martini.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Chocolate Martini
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="133">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">69 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/4-Coca-Cola.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Coca-Cola
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="134">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">40 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/5-Spiked-Lemonade.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Spiked Lemonade
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="135">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">35 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/6-Bloody-Mary.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Bloody Mary
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="136">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">69 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/7-White-Russian.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    White Russian
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="137">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">90 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/8-Mojito.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Mojito
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="138">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">90 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/9-Passion-Fruit-Hurricanes.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Fruit Hurricanes
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="139">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">55 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/drink/10-Paloma.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Paloma
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="140">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <script>
        function callAlert() {
            alert("add the menu sucessfully");
        }
    </script>
    <%- include("partials/footer") -%>