<%- include("partials/header") -%>
    <div id="heading">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;float: left;" onClick="location.href='/'">
            <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <div class="box">
            <h2>Drink</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <form action="/addFood" method="post">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/1-French-75.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        French 75
                        <button type="summit" name="id" value="131" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">65 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/2-Moscow-Mule.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Moscow Mule
                        <button type="summit" name="id" value="132" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">80 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/3-Chocolate-Martini.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Chocolate Martini
                        <button type="summit" name="id" value="133" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">69 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/4-Coca-Cola.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Coca-Cola
                        <button type="summit" name="id" value="134" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">40 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/5-Spiked-Lemonade.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Spiked Lemonade
                        <button type="summit" name="id" value="135" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">35 Bath</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/6-Bloody-Mary.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Bloody Mary
                        <button type="summit" name="id" value="136" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">69 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/7-White-Russian.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        White Russian
                        <button type="summit" name="id" value="137" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">90 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/8-Mojito.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Mojito
                        <button type="summit" name="id" value="138" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">90 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/9-Passion-Fruit-Hurricanes.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Fruit Hurricanes
                        <button type="summit" name="id" value="139" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">55 Bath</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <img class="imgmenu" src="/images/drink/10-Paloma.jpeg">
                    <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                        Paloma
                        <button type="summit" name="id" value="140" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </div>
                    <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                        <p style="font-size:small;">65 Bath</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </form>
    </div>
    <script>
        function callAlert() {
            alert("add the menu sucessfully");
        }
    </script>
    <%- include("partials/footer") -%>