<%- include("partials/header") -%>
    <div id="heading">
        <button class="loginbtn">
        <p>Confirm</p>
    </button>
        <div class="box">
            <h2>Drink</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/1-French-75.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    French 75
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/2-Moscow-Mule.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Moscow Mule
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">80 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/3-Chocolate-Martini.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Chocolate Martini
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">69 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/4-Coca-Cola.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Coca-Cola
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">40 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/5-Spiked-Lemonade.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Spiked Lemonade
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">35 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/6-Bloody-Mary.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Bloody Mary
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">69 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/7-White-Russian.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    White Russian
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">90 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/8-Mojito.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Mojito
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">90 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/9-Passion-Fruit-Hurricanes.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Passion Fruit Hurricanes
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">55 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/public/images/drink/10-Paloma.jpeg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Paloma
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">65 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <%- include("partials/footer") -%>