<%- include("partials/header") -%>
    <div id="heading">
        <button class="loginbtn">
            <p>Login</p>
        </button>
        <div class="box">
            <h2>Steak Restaurant</h2>
        </div>
    </div>
    <div class="row" style="margin:0;">
        <div class="col-4" style="text-align: center;">
            <img src="/images/menu/appetizers.jpg">
            <a style="margin-bottom: 0;" href="/appetizer">Apptizer</a>
            <hr>
            <img src="/images/menu/maindishes.jpeg">
            <a style="margin-bottom: 0;" href="/maindish">Main Dish</a>
            <hr>
            <img src="/images/menu/desserts.jpeg">
            <a style="margin-bottom: 0;" href="/dessert">Dessert</a>
            <hr>
            <img src="/images/menu/drinks.jpeg">
            <a style="margin-bottom: 0;" href="/drinks">Drinks</a>
            <hr>
        </div>
        <div class="col-4">
            <div class="box" style="margin: 30px auto;height: 40px;width: 200px;">
                <p>Table number</p>
            </div>
            <div class="box" style="height: 400px;width: 400px;border-radius: 75px;">
                <div class="box" style="margin: 20px auto;height: 30px;width: 100px;">
                    <p>8</p>
                </div>
                <div class="box inline">
                    <p>1</p>
                </div>
                <div class="box inline">
                    <p>2</p>
                </div>
                <div class="box inline">
                    <p>3</p>
                </div>
                <div class="box inline">
                    <p>4</p>
                </div>
                <div class="box inline">
                    <p>5</p>
                </div>
                <div class="box inline">
                    <p>6</p>
                </div>
                <div class="box inline">
                    <p>7</p>
                </div>
                <div class="box inline">
                    <p>8</p>
                </div>
                <div class="box inline">
                    <p>9</p>
                </div>
                <div class="box inline">
                    <p>10</p>
                </div>
                <div class="box inline">
                    <p>11</p>
                </div>
                <div class="box inline">
                    <p>12</p>
                </div>
                <div class="box inline">
                    <p>13</p>
                </div>
                <div class="box inline">
                    <p>14</p>
                </div>
                <div class="box inline">
                    <p>15</p>
                </div>
                <div class="box inline">
                    <p>16</p>
                </div>
            </div>
            <div class="box" style="margin: 30px auto;height: 40px;width: 200px;">
                <p>Checked out</p>
            </div>
        </div>
        <div class="col-4" style="border-left: 2px solid gray; text-align: center;padding-top: 20px;">
            <h4>Order Status</h4>
            <div class="box" style="height: 400px;width: 400px;border-radius: 75px;margin-top: 20px;">

            </div>
        </div>
    </div>

    <%- include( "partials/footer") -%>