<%- include("partials/header") -%>
    <div id="heading" style="text-align: left;">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;" onClick="location.href='/'">
        <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
    </button>
    </div>
    <div id="heading">
        <div class="box" style="height: 60px;width: 200px; ">
            <p style="font-weight:bolder;">Order List</p>
        </div>
    </div>
    <%- include("partials/footer") -%>