<%- include("partials/header") -%>
    <div id="heading">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;float: left;" onClick="location.href='/'">
            <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <div class="box">
            <h2>Maindishes</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/1-steak-strip.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Strip Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="111">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">224 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/2-steak-ribeye.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Ribeye
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="112">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">295 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/3-steak-tenderloin.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Tenderloin Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="113">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">258 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/4-steak-porterhouse.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Porterhouse Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="114">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">310 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/5-steak-hanger.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Hanger Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="115">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">215 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/6-steak-skirt.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Skirt Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="116">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">290 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/7-steak-short-ribs.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Short Ribs
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="117">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">159 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/8-steak-flap-steak.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Flap Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="118">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">199 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/9-steak-flank.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Flank Steak
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="119">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">175 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/10-steak-tri-tip.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Tri-Tip
                    <form action="/addFood" method="post">
                        <input type="hidden" name="id" style="width:50px;" value="120">
                        <button type="summit" class="btn btn-secondary btn-sm" onclick="callAlert()">+</button>
                    </form>
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">230 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <script>
        function callAlert() {
            alert("add the menu sucessfully");
        }
    </script>
    <%- include("partials/footer") -%>