<%- include("partials/header") -%>
    <div id="heading">
        <button class="loginbtn">
        <p>Confirm</p>
    </button>
        <div class="box">
            <h2>Maindishes</h2>
        </div>
    </div>
    <div id="heading" style="background-color: antiquewhite;">
        <div>
            <input class="serchbar">
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/1-steak-strip.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Strip Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">224 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/2-steak-ribeye.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Ribeye
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">295 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/3-steak-tenderloin.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Tenderloin Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">258 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/4-steak-porterhouse.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Porterhouse Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">310 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/5-steak-hanger.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Hanger Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">215 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/6-steak-skirt.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Skirt Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">290 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/7-steak-short-ribs.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Short Ribs
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">159 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/8-steak-flap-steak.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Flap Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">199 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/9-steak-flank.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Flank Steak
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">175 Bath</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <img class="imgmenu" src="/images/maindishes/10-steak-tri-tip.jpg">
                <div class="box" style="height: 40px;width: 200px; padding: 5px; margin-bottom: 10px;">
                    Tri-Tip
                    <input type="text" style="width: 50px;height: 25px;">
                </div>
                <div class="box" style="height: 30px;width: 75px; padding: 0; margin-bottom: 10px;">
                    <p style="font-size:small;">230 Bath</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <%- include("partials/footer") -%>